{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="column">

{% for profile in profiles %}

    <div class="block">
      <div class="card">
        <a href="{% url 'dwitter:profile' profile.pk  %}">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/96x96.png"
                       alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">
                  {{ profile.user.username }}
                </p>
                <p class="subtitle is-6">
                  @{{ profile.user.username|lower }}
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

{% endfor %}
{% for contact in page_obj %}
{{ contact.full_name|upper }}<br>
{% endfor %}

<div class="pagination">
<span class="step-links">
    {% if profiles.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ profiles.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
        Page {{ profiles.number }} of {{ profiles.paginator.num_pages }}.
    </span>

    {% if profiles.has_next %}
        <a href="?page={{ profiles.next_page_number }}">next</a>
        <a href="?page={{ profiles.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
</span>
</div>
</div>

{% endblock content %}